<nav class="p-3">
      <ul class="nav nav-pills">
        <!--
        <li class="nav-item">
          <button routerLink="/home" class="btn  btn-outline-primary ms-1" >Home
            <i class="bi bi-house text-primary"></i>
          </button>
        </li>

        <li class="nav-item">
          <button routerLink="/products" class="btn  btn-outline-primary ms-1" >Products
            <i class="bi bi-box text-primary"></i>
          </button>
        </li>

        <li class="nav-item">
          <button routerLink="/new-product" class="btn  btn-outline-primary ms-1" >New Products
            <i class="bi bi-plus-circle text-primary"></i>
          </button>
        </li>
-->

        <li class="nav-item" *ngFor="let action of actions">
          <button routerLink="{{action.link}}"
          (click)="setCurrentAction(action)"
          [class]="action==currentAction?'btn  btn-primary ms-1':
          'btn  btn-outline-primary ms-1'">
            {{action.title}}
            <i class="bi bi-{{action.icon}} "></i>
          </button>
        </li>

      </ul>

</nav>



<!-- c'est la page templete
le router-outlet est la ou les pages vont s'afficher
il est nécessaire de l'ajouter dans le fichier app.component.html
 -->
<router-outlet>

</router-outlet>
